<!DOCTYPE html>
<html lang="en">
   {{> header   }}
  <body>
   
 {{> navbar   }}
    <div class="container-fluids">
      <h2>Welcome to our page!</h2>
      <h1>Tech Stacks used to build this Web App</h1>
      <img src="/images/frontent.png" alt="frontend">
      <img src="/images/backend.jpg" alt="backend">
    </div>
  </body>
</html>